---
import OverviewProgressBar from "../../components/OverviewProgressBar.astro";
import Layout from "../../layouts/MainLayout.astro";
import "../../styles/character-list.scss";
import Trans from "../../components/Trans.astro";

import { initI18n } from "../../i18n";
const i18n = await initI18n();
import { setupI18n } from '../../utils/language-utils';
const lang = setupI18n(Astro.url.pathname);

function getLocalizedPath(characterKey) {
    const basePath = i18n.t(`char-info:characters.${characterKey}.url`);
    // Ensure basePath does not start with a slash to prevent double slashes
    const normalizedBasePath = basePath.startsWith("/")
        ? basePath.slice(1)
        : basePath;
    return `/${lang === "en" ? "" : lang + "/"}${normalizedBasePath}`;
}

function isNT(characterKey) {
    return i18n.t(`char-info:characters.${characterKey}.isNewTestament`);
}

const characters = Object.keys(i18n.t("char-info:characters", { returnObjects: true })).sort((a, b) => {
    const nameA = i18n.t(`char-info:characters.${a}.name`).toLowerCase();
    const nameB = i18n.t(`char-info:characters.${b}.name`).toLowerCase();
    if (nameA < nameB)
        return -1;
    if (nameA > nameB)
        return 1;
    return 0;
});
---

<Layout title={i18n.t('title', { ns: 'home' })}>
    <div class="char-list-hero">
        <img
            class="char-list-hero__bg-img"
            src="/media/characters/moses/swipestoryintro.png"
            alt=""
        />

        <header>
            <h1><Trans key="Character list" /></h1>
            <div class="char-list-hero__search-wrapper">
                <input
                    type="text"
                    id="searchFilterInput"
                    placeholder={i18n.t("Filter characters...")}
                    autocomplete="off"
                />
                <button id="searchButton">
                    <img src="/media/icons/search-icon.svg" alt="Search-icon" />
                </button>
            </div>
        </header>
    </div>

    <div class="filter-btns-wrapper scroll">
        <div class="filter-btns">
            <button id="mostRenownedBtn"><Trans key="Most renowned" /></button>
            <button id="newTestamentBtn"><Trans key="New testament" /></button>
            <button id="oldTestamentBtn"><Trans key="Old testament" /></button>
        </div>
    </div>

    <div class="character-list" id="characterList">
        {
            characters.map((characterKey) => (
                <div
                    class="character-list__card"
                    data-testament={i18n.t(
                        `char-info:characters.${characterKey}.testament`,
                    )}
                    data-renowned={i18n.t(
                        `char-info:characters.${characterKey}.isRenowned`,
                    ).toString()}
                >
                    <img
                        class="character-list__img"
                        src={`/media/char-info/${characterKey}.svg`}
                        alt={i18n.t(`char-info:characters.${characterKey}.name`)}
                    />

                    <div class="character-list__text-wrapper">
                        <h3 class="character-list__header">
                            <Trans key={`char-info:characters.${characterKey}.name`} />
                        </h3>

                        <div class="progress-wrapper">
                            <OverviewProgressBar character={characterKey} />
                        </div>

                        <p class="character-list__description">
                            <Trans key={`char-info:characters.${characterKey}.description`} />
                        </p>

                        <a href={getLocalizedPath(characterKey)} class="btn"><Trans key="char-info:general.buttonLink" /></a>
                    </div>

                    <div class="character-list__table">
                        <div class="character-list__table-cell">
                            <Trans key="char-info:general.nameMeaning" />
                        </div>
                        <div class="character-list__table-cell">
                            <Trans key={`char-info:characters.${characterKey}.nameMeaning`} />
                        </div>

                        <div class="character-list__table-cell">
                            <Trans key="char-info:general.lifeSpan" />
                        </div>
                        <div class="character-list__table-cell">
                            <Trans key={`char-info:characters.${characterKey}.lifeSpan`} />
                        </div>

                        <div class="character-list__table-cell">
                            <Trans key="char-info:general.occupation" />
                        </div>
                        <div class="character-list__table-cell">
                            <Trans key={`char-info:characters.${characterKey}.occupation`} />
                        </div>

                        <div class="character-list__table-cell">
                            <Trans key="char-info:general.nationality" />
                        </div>
                        <div class="character-list__table-cell">
                            <Trans key={`char-info:characters.${characterKey}.nationality`} />
                        </div>
                    </div>
                </div>
            ))
        }
    </div>

    <script src="/src/scripts/progress-overview.js"></script>
    <script src="/src/scripts/character-list.js"></script>
</Layout>