---
import { i18n } from "../i18n";
import Trans from "../components/Trans.astro";

function getLocalizedPath(characterKey) {
  const currentLang = i18n.language;
  const basePath = i18n.t(`char-info:characters.${characterKey}.url`);

  // Ensure basePath does not start with a slash to prevent double slashes
  const normalizedBasePath = basePath.startsWith("/")
    ? basePath.slice(1)
    : basePath;

  return `/${currentLang === "en" ? "" : currentLang + "/"}${normalizedBasePath}`;
}

function isNT(characterKey) {
  return i18n.t(`char-info:characters.${characterKey}.isNewTestament`);
}

const characters = Object.keys(
  i18n.t("char-info:characters", { returnObjects: true }),
);
---

<div class="infinite-slider-container">
  <div class="infinite-slider">
    <div class="infinite-slider__slider">
      {
        characters.map((characterKey) => (
          <div
            class={`infinite-slider__slide ${isNT(characterKey) ? "nt" : ""}`}
            data-href={getLocalizedPath(characterKey)}
          >
            <img
              src={`/media/char-info/moses.svg`}
              alt={i18n.t(`char-info:characters.${characterKey}.name`)}
            />
            <div class="infinite-slider__text-wrapper">
              <p class="infinite-slider__name">
                <Trans key={`char-info:characters.${characterKey}.name`} />
              </p>
              <div class="infinite-slider__description">
                <p>
                  <Trans
                    key={`char-info:characters.${characterKey}.description`}
                  />
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <button class="infinite-slider__prev">
    <img src="/media/icons/arrow.svg" alt="Navigate slider backwards" />
  </button>
  <button class="infinite-slider__next">
    <img src="/media/icons/arrow.svg" alt="Navigate slider forwards" />
  </button>
</div>

<style lang="scss">
  .infinite-slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      position: absolute;
      top: 50%;
      background-color: transparent;
      color: white;
      border: none;
      border-radius: 300px;
      padding: 1rem;
      cursor: pointer;
      z-index: 10;

      &:hover {
        background-color: #f5efec75;
      }

      img {
        width: 2rem;
      }
    }

    .infinite-slider__prev {
      transform: rotate(90deg) translateX(-50%);
      left: 1rem;
    }

    .infinite-slider__next {
      transform: rotate(-90deg) translateX(50%);
      right: 1rem;
    }
  }

  .infinite-slider {
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    touch-action: pan-y;

    &__slider {
      display: flex;
      transform-style: preserve-3d;

      &.transitioning {
        transition: transform 0.3s ease-in-out;
      }
    }

    &__slide {
      --text-transform: translateY(20px);

      flex: 0 0 100%;
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 24px;
      background-color: #e0e0e0;
      border-radius: 1rem;
      opacity: 0.7;
      transform: scale(0.8) translateZ(-100px);
      cursor: pointer;
      overflow: hidden;

      &.transitioning {
        transition: all 0.3s ease-in-out;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }

    &__text-wrapper {
      background: linear-gradient(
        transparent,
        var(--secondary-clr-transparent)
      );
    }

    &__name {
      transform: var(--text-transform);
      padding-block: 0.7rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      color: var(--primary-clr);
      transition: all 0.3s linear;
    }

    &__description {
      height: 0;
      transform: var(--text-transform);
      padding: 0 1.5rem 1.5rem 1.5rem;

      transition: all 0.3s linear;

      p {
        color: var(--primary-clr);
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; // Amount of lines visible
        -webkit-box-orient: vertical;
      }
    }

    &__slide[data-position="0"] {
      opacity: 1;
      transform: scale(1) translateZ(0);

      .infinite-slider__description {
        height: 145px; // Height when expanded
      }
    }

    &__slide[data-position="-1"],
    &__slide[data-position="1"] {
      transform: scale(0.9) translateZ(-50px);
    }

    &__slide[data-position="-2"],
    &__slide[data-position="2"] {
      transform: scale(0.8) translateZ(-100px);
    }

    &__slide[data-position="-3"],
    &__slide[data-position="3"],
    &__slide[data-position="-4"],
    &__slide[data-position="4"] {
      transform: scale(0.7) translateZ(-150px);
    }
  }

  @media screen and (max-width: 1000px) {
    .infinite-slider-container button:hover {
      background-color: #f5efec00;
    }
  }

  @media screen and (max-width: 500px) {
    .infinite-slider-container {
      .infinite-slider__prev {
        transform: rotate(90deg) translateX(-50%) translateY(30px);
        left: 1rem;
      }

      .infinite-slider__next {
        transform: rotate(-90deg) translateX(50%) translateY(30px);
        right: 1rem;
      }
    }

    .infinite-slider {
      width: 250px;

      &__slide {
        --text-transform: translateY(36px);

        height: 350px;
      }

      &__description {
        padding: 0 1rem 1rem 1rem;
      }

      &__slide[data-position="-1"],
      &__slide[data-position="1"],
      &__slide[data-position="-2"],
      &__slide[data-position="2"],
      &__slide[data-position="-3"],
      &__slide[data-position="3"],
      &__slide[data-position="-4"],
      &__slide[data-position="4"] {
        --text-transform: translateY(20px);
      }
    }
  }

  @media screen and (max-height: 950px) and (min-width: 500px) {
    .infinite-slider {
      width: 250px;

      &__slide {
        height: 300px;
      }
    }
  }

  @media screen and (max-height: 850px) and (min-width: 500px) {
    .infinite-slider {
      &__slide {
        height: 250px;
      }
    }
  }

  @media screen and (max-height: 810px) and (max-width: 500px) {
    .infinite-slider {
      width: 200px;

      &__slide {
        height: 250px;
      }
    }
  }
</style>

<script src="/src/scripts/infinite-slider.js"></script>
