---
import { i18n } from '../../i18n';
import Trans from '../../components/Trans.astro';
import { getCharacterName } from "../../scripts/character-name-from-url.js";

const characterName = getCharacterName(Astro.url);

function generateTranslationKeys(characterName, index) {
    return {
        headerKey: `character-${characterName}:funFactsHeader${index}`,
        textKey: `character-${characterName}:funFactsText${index}`,
    };
}

let slides = [];
let index = 1;
while (true) {
    let { headerKey, textKey } = generateTranslationKeys(characterName, index);
    if (!i18n.exists(headerKey) && !i18n.exists(textKey)) break;

    slides.push({ headerKey, textKey });
    index++;
}
---

<div id="fun-facts" class="fun-facts char-section">
    <h2>
        <img
            class="bubble"
            src="/media/char-pages-misc/fun-facts-bubble.svg"
            alt="Fun Facts"
        />
    </h2>

    <div class="slider-container">
        <div class="slider">
            <div class="slides">
                {slides.map(({ headerKey, textKey }) => (
                    <div class="slide">
                        <h3><Trans key={headerKey} /></h3>
                        <p><Trans key={textKey} /></p>
                    </div>
                ))}
                <div class="slide">
                    <h3><Trans key={`character-${characterName}:funFactsProgressHeader`} /></h3>
                    <p>
                        <Trans key={`character-${characterName}:funFactsProgressDescription`} />
                    </p>
                    <input type="checkbox" id="fun-facts-checkbox" />
                </div>
            </div>
        </div>

        <div class="nav-wrapper">
            <span class="empty"></span>
            <div class="indicator">
                {slides.map((_, index) => <span class="slider-dot" />)}
            </div>
            <div class="prev-next-wrapper">
                <a class="prev">
                    <img src="/media/icons/slider-arrow.svg" alt="Left arrow" />
                </a>
                <a class="next">
                    <img src="/media/icons/slider-arrow.svg" alt="Right arrow" />
                </a>
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    /* * {
        outline: 1px solid yellow;
    } */

    .fun-facts {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 60vh;
        margin-inline: var(--marg-inline-lg);
        gap: 2rem;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }
        
        @media screen and (max-width: 420px) {
            margin-inline: var(--marg-inline-sm);
        }

        h2 {
            display: flex;

            .bubble {
                max-width: 600px;

                @media screen and (max-width: 1500px) {
                    width: 500px;
                }

                @media screen and (max-width: 1000px) {
                    max-width: 500px;
                    width: 80%;
                    margin: auto;
                }
            }
        }

        .slider-container {
            background-color: var(--alt-primary-clr);
            padding: 2rem 2rem 0 2rem;
            border-radius: 1rem;
            width: fit-content;
            max-width: 650px;
            width: 100%;

            .slider {
                position: relative;
                overflow: hidden;
                transition: 0.3s ease;

                .slides {
                    display: flex;
                    transition: transform 0.3s ease;

                    .slide {
                        min-width: 100%;
                        transition: opacity 0.3s ease;
                        position: relative;
                        height: fit-content;
                        min-height: 5rem;

                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            .nav-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .indicator {
                    text-align: center;
                    background: transparent;
                    margin: 1rem;
                }

                .prev-next-wrapper {
                    display: flex;

                    .prev,
                    .next {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        height: 2rem;
                        width: 2rem;
                        padding: 1.2rem;
                        margin: 1rem 5px;
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                        border-radius: 0.5rem;
                        user-select: none;
                        background-color: #3822179d;

                        &:hover {
                            background-color: #382217cc;
                        }

                        img {
                            width: 1.5rem;
                        }
                    }

                    .prev {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
</style>

<script src="/src/scripts/char-pages/slider.js"></script>
