---
import { i18n } from '../../i18n';
import Trans from '../../components/Trans.astro';
import { getCharacterName } from "../../scripts/character-name-from-url.js";
import { sanitize } from '../../utils/sanitize.js';

const characterName = getCharacterName(Astro.url);

function generateTranslationKeys(characterName, index) {
    return {
        listHeaderKey: `character-${characterName}:furtherReadingHeader${index}`,
        listLinkKey: `character-${characterName}:furtherReadingLink${index}`,
    };
}

let listItems = [];
let index = 1;
while (true) {
    let { listHeaderKey, listLinkKey } = generateTranslationKeys(characterName, index);
    if (!i18n.exists(listHeaderKey)) break;

    listItems.push({ listHeaderKey, listLinkKey });
    index++;
}
---

<div id="further-reading" class="further-reading char-section">
    <h2><Trans key={`character-${characterName}:furtherReadingHeader`} /></h2>
    <ul>
        {listItems.map(({ listHeaderKey, listLinkKey }) => (
            <li>
                <h3><Trans key={listHeaderKey} /></h3>
                <a target="_blank" href={sanitize(i18n.t(listLinkKey), 'url')}>
                    <Trans key={listLinkKey} />
                </a>
            </li>
        ))}
    </ul>
</div>

<style lang="scss">
.further-reading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: var(--marg-inline-lg);
    min-height: 40vh;

    ul {
        list-style-type: none;
        margin-top: 2rem;

        @media screen and (max-width: 1200px) {
            max-width: 700px;
        }

        @media screen and (max-width: 700px) {
            max-width: 400px;
        }
    }

    li {
        margin: 1rem 0;
    }

    h3 {
        font-size: var(--fs-large);
        font-weight: 600;
    }

    a {
        font-size: var(--fs-large);
        word-break: break-all;

        &:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 760px) {
            font-size: var(--fs-medium);
        }
    }

    @media screen and (max-width: 420px) {
        padding-inline: var(--marg-inline-sm);
    }
}

</style>
