---
import { i18n } from "../../i18n";
import Trans from "../../components/Trans.astro";
import { getCharacterName } from "../../scripts/character-name-from-url.js";

const characterName = getCharacterName(Astro.url);
---

<div class="overflow-hidden">
    <div
        id="quiz"
        class="quiz-wrapper char-section"
        data-character-name={characterName}
    >
        <div class="character-thinking">
            <img src="/media/characters/moses/hero.svg" alt="Moses thinking" />
        </div>
    
        <div class="quiz-container">
            <div id="quiz-questions">
                <div class="text-wrapper">
                    <h2><Trans key={`character-${characterName}:quizHeader`} /></h2>
                    <div class="inner-text-wrapper">
                        <div id="question-text"></div>
                        <div id="question-number"></div>
                    </div>
                </div>
                <div class="options-wrapper">
                    <div id="options">
                        <button class="option-button" id="option1"></button>
                        <button class="option-button" id="option2"></button>
                        <button class="option-button" id="option3"></button>
                        <button class="option-button" id="option4"></button>
                    </div>
                    <button id="next-button">
                        <Trans key={`character-${characterName}:quizNextButton`} />
                    </button>
                </div>
            </div>
            <!-- 'Question x of x' and 'Your score is x out of x' is in the JSON file. Remember to NOT translate the text inside the '{}' -->
            <!-- Also, remember to add more languages in quiz.js if website expands. -->
            <div id="quiz-result" style="display:none;">
                <div id="result-text"></div>
                <button id="retry-button" class="retry-button">
                    <Trans key={`character-${characterName}:quizRetryButton`} />
                </button>
            </div>
    
            <div id="everything-correct" style="display:none;">
                <img
                    id="celebration-image"
                    src="/media/char-pages-misc/congrats-illustration.svg"
                    alt="Celebration"
                    class="hidden"
                />
    
                <p><Trans key={`character-${characterName}:quizResult`} /></p>
                <div class="quiz-input-wrapper">
                    <span
                        ><Trans
                            key={`character-${characterName}:quizResultProgress`}
                        /></span
                    >
                    <input type="checkbox" id="quiz-checkbox" />
                </div>
                <button id="retry-button-perfect" class="retry-button">
                    <Trans key={`character-${characterName}:quizRetryButton`} />
                </button>
            </div>
    
            <span id="q-mark-1" class="q-marks">?</span>
            <span id="q-mark-2" class="q-marks">?</span>
            <span id="q-mark-3" class="q-marks">?</span>
            <span id="q-mark-4" class="q-marks">?</span>
        </div>
    </div>
</div>

<style lang="scss">

    .overflow-hidden {
        overflow-x: hidden;
    }

    .quiz-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
        margin-bottom: 4rem;
        height: var(--quiz-height);
        width: 100%;

        --img-height-col: 150px;
        --quiz-height: 600px;

        .character-thinking {
            height: var(--quiz-height);
            margin-right: 4rem;

            img {
                height: 100%;
            }
        }

        .quiz-container {
            position: relative;
            height: 100%;
            width: 90%;
            max-width: 1000px;

            #quiz-questions {
                display: grid;
                grid-template-columns: 300px auto;
                align-items: center;
                height: 100%;
                background-color: var(--tertiary-clr-1);
                padding: 2rem;
                border-radius: 2rem;
                margin: auto;

                .text-wrapper {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    h2 {
                        word-break: break-word;
                    }

                    .inner-text-wrapper {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        height: 100%;
                        margin-top: 1rem;
                        font-family: var(--ff-body);
                        color: var(--secondary-clr);
                        margin-right: 1rem;

                        #question-text {
                            font-size: var(--fs-x-large);
                        }

                        #question-number {
                            font-size: var(--fs-large);
                        }
                    }
                }

                .options-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;

                    #options {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;
                        margin: 1rem;
                        width: 100%;
                        height: 100%;

                        .option-button {
                            display: block;
                            padding: 1em;
                            border: none;
                            border-radius: 0.6rem;
                            background-color: var(--tertiary-clr-2);
                            font-size: var(--fs-large);
                            transition: 0.1s;
                            color: var(--secondary-clr);

                            //// Button hover can be found at the bottom

                            &.correct {
                                background-color: var(--success-clr);
                                color: white;
                            }

                            &.wrong {
                                background-color: var(--error-clr);
                                color: white;
                            }
                        }
                    }

                    #next-button {
                        margin-top: 1rem;
                        padding: 1rem;
                        border: none;
                        border-radius: 0.6rem;
                        cursor: pointer;
                        font-size: 1.4rem;
                        background-color: var(--tertiary-clr-2);
                        color: var(--secondary-clr);

                        &:hover {
                            background-color: var(--tertiary-clr-2-hover);
                        }
                    }
                }
            }

            #quiz-result,
            #everything-correct {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                font-size: 2rem;
                font-family: var(--ff-body);
                width: 100%;
                max-width: 1000px;
                height: 100%;
                background-color: var(--tertiary-clr-1);
                border-radius: 2rem;
                padding: 3rem;
                gap: 1.7rem;

                .retry-button {
                    cursor: pointer;
                    padding: 0.6em;
                    font-size: 2rem;
                    border: none;
                    border-radius: 0.6rem;
                    background-color: var(--tertiary-clr-2);
                    color: var(--secondary-clr);
                    font-weight: 500;
                    transition: 0.1s;

                    &:hover {
                        background-color: var(--tertiary-clr-2-hover);
                        scale: 1.05;
                    }
                }
            }

            #everything-correct {
                p {
                    font-size: 2rem;
                    width: 80%;
                    max-width: 450px;
                    text-align: center;
                    font-weight: 600;
                    z-index: 3;
                }

                .quiz-input-wrapper {
                    z-index: 3;
                }

                .retry-button {
                    font-size: 1.2rem;
                    z-index: 3;
                }

                @keyframes fadeInAndBounce {
                    0% {
                        opacity: 0;
                        transform: scale(0.1);
                    }
                    60% {
                        opacity: 1;
                        transform: scale(1.2);
                    }
                    100% {
                        transform: scale(1);
                    }
                }

                #celebration-image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    animation: fadeInAndBounce 0.6s ease-out;
                    z-index: 1;
                    pointer-events: none;
                }

                #celebration-image.hidden {
                    display: none;
                }
            }

            .q-marks {
                font-weight: 700;
                color: var(--secondary-clr);
                position: absolute;

                &#q-mark-1 {
                    font-size: 8rem;
                    top: -1rem;
                    left: -3rem;
                    transform: rotate(-30deg);
                }

                &#q-mark-2 {
                    font-size: 5rem;
                    top: -3.2rem;
                    right: 6rem;
                    transform: rotate(25deg);
                }

                &#q-mark-3 {
                    font-size: 3rem;
                    bottom: -2rem;
                    left: 15%;
                    transform: rotate(15deg);
                }

                &#q-mark-4 {
                    font-size: 6rem;
                    bottom: -5rem;
                    right: 10%;
                    transform: rotate(-15deg);
                }
            }
        }

        @keyframes shake {
            0%,
            100% {
                transform: translateX(0);
            }

            16%,
            50%,
            82% {
                transform: translateX(-10px);
            }

            33%,
            66% {
                transform: translateX(10px);
            }
        }

        @keyframes scale {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }

        .shake {
            animation: shake 0.5s linear;
        }

        .scale {
            animation: scale 0.5s linear;
        }

        @media screen and (max-width: 1500px) {
            flex-direction: column;
            height: calc(var(--quiz-height) + var(--img-height-col));

            .character-thinking {
                height: var(--img-height-col);

                img {
                    min-height: 400px;
                }
            }
        }

        @media screen and (max-width: 850px) {
            .quiz-container #quiz-questions {
                grid-template-columns: auto;

                #q-mark-1 {
                    left: -3rem;
                }
            }
        }

        @media screen and (max-width: 760px) {
            margin-bottom: 6rem;

            .quiz-container {
                width: 90%;
                min-height: 600px;

                #question-text {
                    font-size: var(--fs-medium);
                }

                .option-button {
                    font-size: var(--fs-medium);
                }

                #quiz-result,
                #everything-correct {
                    font-size: var(--fs-x-large);
                }

                .retry-button {
                    font-size: 1.4rem;
                }

                #quiz-result,
                #everything-correct {
                    padding: 1.5rem;
                }

                #everything-correct {
                    p {
                        width: 100%;
                        margin-inline: 1rem;
                    }

                    #celebration-image {
                        width: 150%;
                        top: -3rem;
                    }
                }
            }
        }

        @media screen and (max-width: 420px) {
            --quiz-height: fit-content;

            #quiz-result,
            #everything-correct {
                min-height: 600px;
            }

            .quiz-container #quiz-questions .options-wrapper #options {
                grid-template-columns: auto;
            }
        }

        @media screen and (max-width: 350px) {
            padding: 3rem 0;

            .quiz-container #quiz-questions {
                padding: 2rem 1rem;

                .option-button {
                    word-break: break-word;
                }
            }

            .q-marks {
                &#q-mark-1,
                &#q-mark-2 {
                    display: none;
                }
            }
        }
    }

    .option-button:hover {
        scale: 1;
        cursor: default;
    }

    #quiz-questions:not(.answered) .option-button:hover {
        scale: 1.05;
        cursor: pointer;
    }
</style>

<script src="/src/scripts/char-pages/quiz.js"></script>
