---
import { i18n } from '../../i18n';
import Trans from '../../components/Trans.astro';
import { getCharacterName } from "../../scripts/character-name-from-url.js";

const characterName = getCharacterName(Astro.url);

function generateTranslationKeys(characterName, index) {
    return {
        listKey: `character-${characterName}:whereFindThemList${index}`,
    };
}

let listItems = [];
let index = 1;
while (true) {
    let { listKey } = generateTranslationKeys(characterName, index);
    if (!i18n.exists(listKey)) break;

    listItems.push({ listKey });
    index++;
}
---

<div id="where-find-them" class="where-find-them char-section">
    <h2><Trans key={`character-${characterName}:whereFindThemHeader`} /></h2>

    <div class="where-find-them__text">
        <div class="where-find-them__book-icon-wrapper">
            <img src="/media/icons/book-icon.svg" alt="Book" />
            <h4><Trans key={`character-${characterName}:whereFindThemMiniHeader`} /></h4>
        </div>
        <ul>
            {listItems.map(({ listKey }) => (
                <li><Trans key={listKey} /></li>
            ))}
        </ul>
    </div>
</div>

<style lang="scss">
    /* * {
        outline: 1px solid yellow;
    } */

    .where-find-them {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        margin-inline: auto;
        max-width: 1300px;
        padding-inline: var(--marg-inline-lg);
        min-height: 40vh;

        &__text {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 150px;
            }
        }

        &__book-icon-wrapper {
            text-align: center;
            font-size: 20px;
        }

        ul {
            margin: 3rem;

            li {
                color: var(--secondary-clr);
                font-size: var(--fs-large);
                list-style-position: inside;

                &:empty {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 1000px) {
            justify-content: center;

            &__text {
                margin-top: 2rem;
            }
        }

        @media screen and (max-width: 760px) {
            &__text {
                justify-content: flex-start;
            }

            &__book-icon-wrapper {
                display: none;
            }

            ul {
                margin: 1rem;

                li {
                    font-size: var(--fs-medium);
                }
            }
        }

        @media screen and (max-width: 420px) {
            padding-inline: var(--marg-inline-sm);
        }
    }
</style>
